/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global style */
body {
    background-color: #0D5C63;
    color: #FFFFFA;
    text-align: center;
    font-family: "Kanit", serif;
}

/* Page heading */
.heading {
    font-size: clamp(1.25rem, 1.5vw, 2rem);
}

/* Gestures display*/
#player-gesture,
#comp-gesture {
    width: 43vw;
    max-width: 700px;
    margin-top: 2vw;
}

#player-gesture {
    transform: scaleX(-1);
    margin-right: 2vw;
}

#comp-gesture {
    margin-left: 2vw;
}

/* h2 Heading style */
#heading-two {
    margin: 0.5vw;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}

/* Scoreboard styling */
.scoreboard {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.score-column {
    flex: 1;
}

.score-column h3 {
    font-size: clamp(0.75rem, 1.5vw, 1.5rem);
}

.score-column p {
    font-size: clamp(0.75rem, 1.5vw, 1.25rem);
}

#player-scoreboard,
#comp-scoreboard {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Control area */

/* Start button and timer */
.start-timer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#play-btn {
    width: 18vw;
    height: 18vw;
    max-width: 120px;
    max-height: 120px;
    margin: 3vw;
    border-radius: 50%;
    background-color: #FFFFFA;
    border: 2px solid;
    font-size: clamp(0.75rem, 1.5vw, 1.25rem);
}

#play-img {
    width: 100%;
    height: auto;
}

/* When countdown is active change color */
.countdown-active {
    background-color: #FF5714 !important;
    color: black;
    font-weight: bold;
}

/* Hover effect for start button*/
#play-btn:hover {
    background-color: #6EEB83;
}

/* Gesture buttons */
.choices {
    display: flex;
    flex-wrap: wrap;
    gap: 0vw;
    justify-content: center;
}

.choices-btn {
    border-radius: 50%;
    width: 18vw;
    height: 18vw;
    max-width: 125px;
    max-height: 125px;
    border: none;
    margin: 0 0.5vw 0 0.5vw;
}

.choice-img {
    width: 100%;
    height: auto;
}

/* Style for diabled buttons*/
.disable-btn {
    opacity: 0.25;
    filter: grayscale(100%);
    cursor: not-allowed;
}

/* Hover effect for gesture buttons*/
.choices-btn:hover {
    background-color: #6EEB83;
}

footer {
    font-size: clamp(0.75rem, 1vw, 1rem);
}

.scroll-indicator {
    position: fixed;
    bottom: 0.5rem;
    font-size: clamp(2rem, 1.5vw, 3rem);
    left: 90%;
}

.scroll-link {
    color: #FFFFFA;
    opacity: 1;
}

.scroll-link.hidden {
    opacity: 0;
    pointer-events: none;
}