/* Global style */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #0D5C63;
    color: #FFFFFA;
    text-align: center;
    font-family: "Kanit", serif;
}

.heading {
    height: 75%;
    margin-bottom: 50px;
}

#playerGesture {
    width: 45%;
    transform: scaleX(-1);
}

#compGesture {
    width: 45%;
}

.scoreboard {
    margin-top: 1%;
}

#playerScore {
    margin-right: 10%;
}

#compScre {
    margin-left: 10%;
}

.startTimer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.playBtn {
    height: 100px;
    width: 120px;
    margin: 30px;
    border-radius: 50%;
    background-color: #6EEB83;
    border: none;
    font-weight: bold;
}

.choices {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.choicesBtn {
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
}

.choiceImg {
    width: 100%;
    height: 100%;
}